<style>
	body {
		padding-top: 70px;
	}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="collapsed navbar-toggle" ng-click="$ctrl.toggle()"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
			<a href="#" class="navbar-brand">{{ $ctrl.brand }}</a>
		</div>
		<div class="collapse navbar-collapse" ng-class="{ in : $ctrl.in}">
			<ul class="nav navbar-nav">
				<li ng-repeat='navItem in $ctrl.navItems' ng-click='$ctrl.itemClick(navItem)'><a href="#">{{ navItem.label }}</a></li>
			</ul>
		</div>
	</div>
</nav>